*{
    margin:0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.8)
}
.container{
    height: 17rem;
    width: 17rem;
    border: 2px solid black;
    border-radius: 50%;
    color: white;
    position: relative;
    bottom: 100px;
}
.container span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  
  inset: 12px;
  text-align: center;
} 
.container span b{
    transform:rotate(calc(-30deg *var(--i)));
    display: inline-block;

}
